* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* nav-bar style */

.nav-bar {

  display: flex;
  /* border: 1px solid red; */
  justify-content: space-around;
  background-color: aliceblue;
  align-items: center;
  /* max-height: 92px; */
  margin: 0px;
}

.nav-midel {
  display: flex;
  gap: 25px;
  align-items: center;
  font-size: 10px;
}

.nav-bar .logo-img {
  margin: 7px;

}

.nav-bar .nav-button button {
  background-color: #30B868;
  margin: 20px;
  padding: 9px;
  font-size: 10px;
  color: white;
  border-radius: 4px;
  border: none;
}

.nav-button button:hover {
  background-color: greenyellow;
  color: black;
  font-size: 18px;
  border-radius: 4px;
}

/* hero section  */

#hero-section {
  /* border: 1px solid red; */
  background-image: url(images/hero-bg.png);
  max-width: 1265px;
  width: 1265;
  height: 600px;
  max-height: 600px;
  margin: 0px;

}



#hero-section .hero-continar {
  width: 71%;
  max-width: 1265px;
  margin: 0px auto;
  align-items: center;
  justify-content: center;
  color: white;
  /* padding: 50px; */


}

.hero-continar .hero-im {
  padding: 3px;
  margin-left: 340px;
  color: #30B868;
  background-color: rgb(236, 227, 227);
  border-radius: 45px;
  display: inline-block;
  align-items: center;
  text-align: center;
  margin-top: 120px;


}




.hero-continar h1 {
  text-align: center;
  margin-top: 10px;
  border-radius: 45px;


}

.hero-continar p {
  text-align: center;
  margin-top: 10px;
  line-height: 24px;
}

.hero-continar .hero-dw1 {
  margin-top: 15px;
  background-color: #30B868;
  color: white;
  margin-left: 250px;
  padding: 11px;
  border-radius: 4px;
  border: none;
}

.hero-dw1:hover {
  color: white;
  background: none;
  border: 1px solid white;
  padding: 11px;
  border-radius: 4px;

}

.hero-continar .hero-dw2 {
  margin-top: 15px;
  color: white;
  background: none;
  border: 1px solid white;
  padding: 11px;
  border-radius: 4px;
}

.hero-dw2:hover {
  color: black;
  background-color: #30B868;
}

/* main designe */


main {
  /* background-color: #c6a5a5; */
  border: 1px solid red;
}

.midel .midel1 {
  text-align: center;
  margin-top: 25px;
  line-height: 20px;
}

.midel .midel1 p {
  font-size: 6px;

}

.midel .cart {
  width: 67%;
  max-width: 1140px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  /* border: 1px solid red; */
  justify-content: space-around;
  gap: 5px;
  margin-top: 20px;
  margin-left: 79px;

}

.cart .cart1 {
  /* border: 1px solid red; */
  background-color: aliceblue;
}


.cart .cart1 h3,
p {
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 4px;
  line-height: 20px;
}

.cart .cart1 img {
  background-color: #F95555;
  border-radius: 50%;
  background-size: cover;
  margin: 0 100px;
  padding: 5px;
  margin-top: 6px;
  width: 30px;

}

.cart .cart1 p {
  font-size: 10px;
}

.cart1 {
  height: 120px;
  border-radius: 8px;
  align-items: center;
  padding: 9px;
  margin-bottom: 3px;
}