* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* nav-bar style */

.nav-bar {

  display: flex;
  border: 1px solid red;
  justify-content: space-around;
  background-color: aliceblue;
  align-items: center;
  max-height: 92px;
}

.nav-midel {
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: 10px;
}

.nav-bar .logo-img {
  margin: 7px;

}

.nav-bar .nav-button button {
  background-color: #30B868;
  margin: 20px;
  padding: 9px;
  font-size: 10px;
  color: white;
  border-radius: 4px;
  border: none;

}